services:
  unifi-network-application:
    image: lscr.io/linuxserver/unifi-network-application
    container_name: unifi-network-application
    hostname: unifi-network-application
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
      - LANG=${LANGUAGE:-en_US.UTF-8}
      - LANGUAGE=${LANGUAGE:-en_US.UTF-8}
      - MONGO_USER=${MONGO_USER}
      - MONGO_PASS=${MONGO_PASS}
      - MONGO_HOST=${MONGO_HOST:-unifi-db}
      - MONGO_PORT=${MONGO_PORT:-27017}
      - MONGO_DBNAME=${MONGO_DBNAME:-unifi}
      - MONGO_AUTHSOURCE=${MONGO_AUTHSOURCE:-admin}
    volumes:
      - config:/config
    restart: unless-stopped
    ports:
      - ${WEBUI_PORT:-8443}:8443
      - ${STUN_PORT:-3478}:3478/udp
      - ${ACCESSPOINT_DISCOVERY_PORT:-10001}:10001/udp
      - ${DEVICE_COMMUNICATION_PORT:-8080}:8080
    networks:
      - net

  unifi-db:
    image: docker.io/mongo:8.0.15
    container_name: unifi-db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_ROOT_USER:-root}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_ROOT_PASS}
      - MONGO_USER=${MONGO_USER}
      - MONGO_PASS=${MONGO_PASS}
      - MONGO_DBNAME=${MONGO_DBNAME:-unifi}
      - MONGO_AUTHSOURCE=${MONGO_AUTHSOURCE:-admin}
    volumes:
      - db:/data/db
      - ./init-mongo.sh:/docker-entrypoint-initdb.d/init-mongo.sh:ro
    restart: unless-stopped
    networks:
      - net

volumes:
  config:
    name: unifi-network-application-config
  db:
    name: unifi-network-application-db

networks:
  net:
    external: false
